//** CSS  BY  STARRY IT 
//
*//

body {background-color: #4261f3;}
p {font-size:14pt; color: rgb(255,255,255); margin-left: 14px}
a:link     {text-decoration:black}
a:visited  {color:red}
a:hover    {color:red}
a:active   {color:red}
hr{color:black}
table{color:black}
tr{color: black}
form{color:black}
